body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 20%;
  height: 100%;
}

.right {
  right: 0;
  width: 80%;
  height: 100%;
}

.centered {
  position: fixed;
  text-align: top;
  padding-top: 20px;
  padding-bottom: 20px;
}

.circleimage {
  position: absolute;
  text-align: top;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

