<
style>* {
	box-sizing: border-box
}

body {
	font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
	float: left;
	background-color: #f1f1f1;
	width: 100%;
	border: none;
	height: 100%;
	text-align: left;
	cursor: pointer;
	font-size: 17px;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 100%;
	border-left: none;
	height: 100%;
}

.button {
	display: block;
	background-color: inherit;
	color: black;
	padding:10px;
	width: 100%;
	height: 40px;
	border: none;
	text-align: left;
	cursor: pointer;
	font-size: 17px;
}


</
style
>